# io.StringIO (memory file,read string as file )

In [3]:
import pandas as pd
import requests
import io
#from io import StringIO

In [10]:
pd.Timestamp.now()

Timestamp('2020-06-05 13:53:13.058061')

In [11]:
print(f'pandas version:  {pd.__version__}')

pandas version:  1.0.3

# example 1: string

In [12]:

s="""
p_id,name,name_en,region,area_km2
กจ,กาญจนบุรี,Kanchanaburi,C,19483.148
กทม,กรุงเทพมหานคร,Bangkok,C,1568.737
จบ,จันทบุรี,Chanthaburi,C,6338.0
ฉช,ฉะเชิงเทรา,Chachoengsao,C,5351.0
"""

In [15]:
dt = pd.read_csv(io.StringIO(s))
dt

  p_id           name       name_en region   area_km2
0   กจ      กาญจนบุรี  Kanchanaburi      C  19483.148
1  กทม  กรุงเทพมหานคร       Bangkok      C   1568.737
2   จบ       จันทบุรี   Chanthaburi      C   6338.000
3   ฉช     ฉะเชิงเทรา  Chachoengsao      C   5351.000

# exmaple 2 : request get

In [24]:
url='https://datahub.io/core/oil-prices/r/brent-daily.csv'
df=pd.read_csv(url)
print(df)

            Date  Price
0     1987-05-20  18.63
1     1987-05-21  18.45
2     1987-05-22  18.55
3     1987-05-25  18.60
4     1987-05-26  18.63
...          ...    ...
8380  2020-05-26  33.95
8381  2020-05-27  32.73
8382  2020-05-28  33.98
8383  2020-05-29  34.15
8384  2020-06-01  36.74

[8385 rows x 2 columns]

In [20]:
r = requests.get(url)
print(r.text[:500])

Date,Price
1987-05-20,18.63
1987-05-21,18.45
1987-05-22,18.55
1987-05-25,18.6
1987-05-26,18.63
1987-05-27,18.6
1987-05-28,18.6
1987-05-29,18.58
1987-06-01,18.65
1987-06-02,18.68
1987-06-03,18.75
1987-06-04,18.78
1987-06-05,18.65
1987-06-08,18.75
1987-06-09,18.78
1987-06-10,18.78
1987-06-11,18.68
1987-06-12,18.78
1987-06-16,18.9
1987-06-17,19.03
1987-06-18,19.05
1987-06-19,19.05
1987-06-22,19.1
1987-06-23,18.9
1987-06-24,18.75
1987-06-25,18.7
1987-06-26,19.08
1987-06-2

In [27]:
#มองว่า r.text คือ str
type(r.text)

str

ประโยนช์ stringio คือบางที่ถ้าไม่สามารถอ่านไฟล์โดยตรงได้ใช่ request.get เเล้วเเปลงเป็น .text ค่อย csv

# example 3: Spotify top charts
https://spotifycharts.com/regional/th/daily/latest

In [30]:
url = 'https://spotifycharts.com/regional/global/daily/latest/download'
ds = requests.get(url)
ds.text[:500]

',,,"Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.",\nPosition,"Track Name",Artist,Streams,URL\n1,"ROCKSTAR (feat. Roddy Ricch)",DaBaby,5593056,https://open.spotify.com/track/7ytR5pFWmSjzHJIeQkgog4\n2,"Blinding Lights","The Weeknd",4852083,https://open.spotify.com/track/0VjIjW4GlUZAMYd2vXMi3b\n3,"Rain On Me (with Ariana Grande)","Lady Gaga",4322094,https://open.spotify.com/track/7ju97lgwC2rKQ6wwsf9no9\n4,"Roses - Imanbek Remix"'

In [32]:
rd = pd.read_csv(io.StringIO(ds.text),skiprows=1)

In [34]:
print(rd)

     Position                       Track Name          Artist  Streams  \
0           1     ROCKSTAR (feat. Roddy Ricch)          DaBaby  5593056
1           2                  Blinding Lights      The Weeknd  4852083
2           3  Rain On Me (with Ariana Grande)       Lady Gaga  4322094
3           4            Roses - Imanbek Remix       SAINt JHN  4194493
4           5                     Toosie Slide           Drake  3739129
..        ...                              ...             ...      ...
195       196                        Lights Up    Harry Styles   624300
196       197                You should be sad          Halsey   619201
197       198                           Replay       Lady Gaga   618493
198       199              If I Can't Have You    Shawn Mendes   615593
199       200          My Oh My (feat. DaBaby)  Camila Cabello   615319

                                                   URL
0    https://open.spotify.com/track/7ytR5pFWmSjzHJI...
1    https://open.spotify.com/track/0VjIjW4GlUZAMYd...
2    https://open.spotify.com/track/7ju97lgwC2rKQ6w...
3    https://open.spotify.com/track/24Yi9hE78yPEbZ4...
4    https://open.spotify.com/track/466cKvZn1j45Ipx...
..                                                 ...
195  https://open.spotify.com/track/4jAIqgrPjKLTY9G...
196  https://open.spotify.com/track/7lidXGPXPYLNThI...
197  https://open.spotify.com/track/7sKbyYeJnITO1Eh...
198  https://open.spotify.com/track/2bT1PH7Cw3J9p3t...
199  https://open.spotify.com/track/3yOlyBJuViE2YSG...

[200 rows x 5 columns]